.navLink {
    text-decoration: none;
    color: white;
    border-radius:10%;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    
}

.navLink:hover{
    background-color: #B2935B;
    transition: 0.2s;
}

.navLink.active{
    color: #C6B799;
}

.img {
    width:100%;
    object-fit: cover;
    height: 500px;
    box-shadow: 10px 9px 24px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 9px 24px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 24px -1px rgba(0,0,0,0.75);
}